<div class="jumbotron">
  <h1>Service Quiz</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h2>Instructions</h2>
  <ul>
    <li>create a <code>BricksABunchCart</code> template and controller for the BricksABunch store</li>
    <li>create a <code>BricksABunch</code> service
      <ul>
        <li>inject the service into the <code>BricksABunch</code> and <code>BricksABunchCart</code> controllers</li>
      </ul>
    </li>
    <li>create a <code>BricksAdmin</code> service</li>
  </ul>
</div>
