<div class="jumbotron">
  <h1>Service Quiz</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h2>Instructions</h2>
  <ul>
    <li>create a <code>brickWarehouse</code> service</li>
    <li>extract brick data from <code>BricksABunchCtrl</code> and <code>LotsOBricksCtrl</code> controllers to the <code>brickWarehouse</code> service</li>
    <li>inject <code>brickWarehouse</code> into both controllers</li>
    <li>add an "Add to Cart" button to each <code>BricksABunchCtrl</code> item
      <ul>
        <li>clicking this button will decrease that brick size's quantity in the <code>brickWarehouse</code> service</li>
      </ul>
    </li>
    <li>other than adding the button to <code>bricks-a-bunch.html</code>, no template code should change</li>
  </ul>
</div>
